<footer>
  <div>
    <div><%= metadata.title %></div>
  </div>

  <div>
    <ul>
      <li><i class="bi bi-envelope-at-fill"></i>
        <%= site.metadata.email %></li>

      <li><i class="bit bi-mastodon"></i>
        <%= link_to site.metadata.mastodon.user, site.metadata.mastodon.url %></li>
      <li><i class="bi bi-github"></i>
        <%= link_to site.metadata.github.user, site.metadata.github.url %></li>
    </ul>
  </div>

  <div>
    <%= metadata.description %>
  </div>
</footer>
